flask
pymongo
python-dotenv
pytest
flask_api
requests
flask_request_validator
apscheduler
datetime
redis
selenium
Werkzeug==0.16.0
markupsafe==2.0.1
asyncio
google-cloud-storage
pandas
fastparquet
pyarrow
psutil
httpx